.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 3fr;
  gap: 10px;
}

html {
  font-family: sans-serif;
}

body {
  width: clamp(min(100vw, 320px), 80%, 2560px);
  margin: 0 auto;
  border-style: solid;
}

header {
  grid-row-start: 1;
  grid-column: 2 / 4;
}

#projects {
  grid-row-start: 2;
  grid-row-end: 4;
}

#announcements {
  grid-row-start: 2;
  grid-column-start: 3;
}

#trending {
  grid-row-start: 3;
  grid-column-start: 3;
}

nav {
  grid-row-start: 1;
  grid-row-end: span end;
  grid-column-start: 1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.icon {
  transform: scale(0.6);
}
.icon-hover:hover {
  background-color: lightgray;
  border-radius: 100%;
  transform: scale(0.8);
}
#profile-name {
  display: inline;
  font-weight: bold;
}
#profile-name:hover {
  cursor: grab;
  background-color: lightgray;
}

#username {
  display: inline;
}

header {
  padding: 0 1rem;
}

.sub-text {
  font-size: 0.8rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.control-panel-button {
  border-radius: 10px;
  border-style: none;
  width: 5rem;
  margin: 0.1rem;
  padding: 0.5rem 0;
  font-weight: bold;
}
.control-panel-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.4rem black;
}

#dashboard-icon {
  transform: scale(0.8);
}

.inline {
  display: inline;
}

#dashboard-panel {
  margin: 2rem 0;
}

.panel-line {
  width: 100%;
}

.panel-line:hover {
  background-color: gray;
}

#announcements > h2 {
  font-size: 0.9rem;
}

.announcement-title {
  font-size: 0.725rem;
}

.announcement-text {
  font-size: 0.625rem;
}
